 
 @import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');

 html, body {
        background-color: black;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 999;
   }
    html .slides, html > .dg, body .slides, body > .dg {
        display: none;
   }
   /* .god-container{
       visibility: hidden;
   } */
    @media (min-width: 1000px) {
        
               body > .dg {
                   display: block;
               }
           }
           .wings-container{
               width: 100%;
               padding: 0 auto;
               /* border: 1px solid white; */
               background-color: transparent;
               background: transparent;
           }
           .wings-image{
               height: 300px;
               width:auto; 
               margin-bottom: 0;
               margin-right: auto;
               margin-left:  auto;
               margin-top: 0;
               display: block;
               z-index: 5 !important;
           }
           @media(max-width: 902px){
               .wings-image{
                   height: 250px;
                   widows: auto;
               }
           }
           @media(max-width: 768px){
               .wings-image{
                   height: 200px;
                   widows: auto;
                   margin-top: 10%;
               }
           }
           canvas{
               padding-top: 0; 
               position: fixed; 
               left: 0; 
               top: 0;
               /* border: 1px solid white; */
               overflow: visible !important;
               z-index: 0;
           }
   


.draw-border {
    box-shadow: inset 0 0 0 4px #27A9B7;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #01579b;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #01579b;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn1 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    margin: auto;
    display: block;
    
}
.btn1:focus {
    outline: 2px dotted #55d7dc;
}
.button-div{
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    padding-top: 10%;
    /* display: flex;
    align-items: center; */
}
@Media(max-width: 1200px){
    .button-div{
        padding-top: 15%;
    }
}

@media(max-width: 902px){
    .button-div{
        padding-top: 20%;
    }
}
@media(max-width: 768px){
    .button-div{
        padding-top: 28%;
    }
}
@media(max-width: 600px){
    .button-div{
        padding-top: 40%;
    }
}
@media(max-width: 414px){
    .button-div{
        padding-top: 45%;
    }
}




/* BLOBLS LOADER */


.loader {
    position: fixed;
    left: 40%;
    top: 30%;
    margin-bottom: 0;
 }
 @media(max-width: 902px){
   .loader{
     left: 30%;   
   }
 }
 @media(max-width: 768px){
  .loader{
    left: 25%;
  }
}
@media(max-width: 600px){
  .loader{
    left: 20%;
  }
}
  svg {
    display: none;
 }
  .blobs {
    filter: url(#goo);
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 70px;
    transform-style: preserve-3d;
 }
  .blobs .blob-center {
    transform-style: preserve-3d;
    position: absolute;
    background: #1f34b8;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform-origin: left top;
    transform: scale(0.9) translate(-50%, -50%);
    animation: blob-grow linear 3.4s infinite;
    border-radius: 50%;
    box-shadow: 0 -10px 40px -5px #1f34b8;
 }
  .blob {
    position: absolute;
    background: #1f34b8;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: blobs ease-out 3.4s infinite;
    transform: scale(0.9) translate(-50%, -50%);
    transform-origin: center top;
    opacity: 0;
 }
  .blob:nth-child(1) {
    animation-delay: 0.2s;
 }
  .blob:nth-child(2) {
    animation-delay: 0.4s;
 }
  .blob:nth-child(3) {
    animation-delay: 0.6s;
 }
  .blob:nth-child(4) {
    animation-delay: 0.8s;
 }
  .blob:nth-child(5) {
    animation-delay: 1s;
 }
  @keyframes blobs {
    0% {
      opacity: 0;
      transform: scale(0) translate(calc(-330px - 50%), -50%);
   }
    1% {
      opacity: 1;
   }
    35%, 65% {
      opacity: 1;
      transform: scale(0.9) translate(-50%, -50%);
   }
    99% {
      opacity: 1;
   }
    100% {
      opacity: 0;
      transform: scale(0) translate(calc(330px - 50%), -50%);
   }
 }
  @keyframes blob-grow {
    0%, 39% {
      transform: scale(0) translate(-50%, -50%);
   }
    40%, 42% {
      transform: scale(1, 0.9) translate(-50%, -50%);
   }
    43%, 44% {
      transform: scale(1.2, 1.1) translate(-50%, -50%);
   }
    45%, 46% {
      transform: scale(1.3, 1.2) translate(-50%, -50%);
   }
    47%, 48% {
      transform: scale(1.4, 1.3) translate(-50%, -50%);
   }
    52% {
      transform: scale(1.5, 1.4) translate(-50%, -50%);
   }
    54% {
      transform: scale(1.7, 1.6) translate(-50%, -50%);
   }
    58% {
      transform: scale(1.8, 1.7) translate(-50%, -50%);
   }
    68%, 70% {
      transform: scale(1.7, 1.5) translate(-50%, -50%);
   }
    78% {
      transform: scale(1.6, 1.4) translate(-50%, -50%);
   }
    80%, 81% {
      transform: scale(1.5, 1.4) translate(-50%, -50%);
   }
    82%, 83% {
      transform: scale(1.4, 1.3) translate(-50%, -50%);
   }
    84%, 85% {
      transform: scale(1.3, 1.2) translate(-50%, -50%);
   }
    86%, 87% {
      transform: scale(1.2, 1.1) translate(-50%, -50%);
   }
    90%, 91% {
      transform: scale(1, 0.9) translate(-50%, -50%);
   }
    92%, 100% {
      transform: scale(0) translate(-50%, -50%);
   }
 }
.loading-container{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -30%;
  font-family: 'Signika Negative', sans-serif;
}      

/* END BLOBS LOADER */