@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');

html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}
.board{
    height: 100%;
    width: 100%;
    border: 1px solid wheat;
}
.pane{
    min-height: 50vh;
}
#one{
    background-color: aquamarine;
}
#two{
    background-color: blueviolet
}
#three{
    background-color: brown;
}
#four{
    background-color: antiquewhite;
}